@use "../../app/breakpoints.scss" as *;
@use "../../app/variables.scss" as v;

.card_container {
  width: 95%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 8px 8px rgba(78, 78, 78, 0.05);

  @include breakpoint(md) {
    margin-right: 1.15rem;
    width: 40rem;
  }
}

.card_input {
  width: 100%;
  border: 1px solid v.$shadow-2-color;
  background-color: white;
  box-shadow: 0px 8px 8px rgba(78, 78, 78, 0.05);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
}

.card_input_error {
  width: 100%;
  border: 1px solid v.$shadow-2-color;
  background-color: white;
  box-shadow: 0px 8px 8px rgba(78, 78, 78, 0.05);
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid v.$error-color;
  padding: 1rem;
}

.error_message {
  font-size: map-get($map: v.$font-sizes, $key: p-sm);
  color: v.$error-color;
}

.card_relationship {
  box-shadow: 0px 8px 8px rgba(78, 78, 78, 0.05);
  border-radius: 1rem;
  padding: 1rem;

  input[type="radio"] {
    accent-color: v.$primary-color;
  }
}

.btn_form {
  width: 100%;
}
