@use "../../app/breakpoints.scss" as *;
@use "../../app/variables.scss" as v;

.collaborators_container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  @include breakpoint(md) {
    gap: 2.5rem;
    justify-content: start;
  }
}

.section_img_container {
  width: 6.5rem;
  height: 6.5rem;
  box-shadow: 0px 8px 8px rgba(78, 78, 78, 0.05);

  img {
    object-fit: contain;
  }
}
