@use "./variables.scss" as v;
@use "./breakpoints.scss" as *;

* {
  margin: 0;
  padding: 0;
  color: v.$text-color;
}

.btn-primary {
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  background-color: v.$primary-color;
  color: white;
  border-radius: 1rem;
  transform: scale(1);
  transition: all 0.1s ease;
  font-size: map-get($map: v.$font-sizes, $key: p-lg);

  @include breakpoint(md) {
    padding: 0.5rem 1.5rem;
  }
}

.btn-primary:active {
  box-shadow: inset 0rem 0rem 1.25rem 0.15rem v.$shadow-color;
  transform: scale(0.965);
}

.loading_label {
  color: v.$tersary-1-color;
  font-size: map-get($map: v.$font-sizes, $key: p-sm);
}
