@use "./variables.scss" as v;
@use "./breakpoints.scss" as *;

* {
  margin: 0;
  padding: 0;
  color: v.$text-color;
}

.bg-secondary {
  background-color: v.$secondary-color !important;
}

.btn-primary {
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  background-color: v.$primary-color;
  color: white;
  border-radius: 1rem;
  transform: scale(1);
  transition: all 0.1s ease;
  font-size: map-get($map: v.$font-sizes, $key: p-lg);

  @include breakpoint(md) {
    padding: 0.5rem 1.5rem;
  }
}

.btn-primary:active {
  box-shadow: inset 0rem 0rem 1.25rem 0.15rem v.$shadow-1-color;
  transform: scale(0.965);
}

.loading_label {
  color: v.$tersary-1-color;
  font-size: map-get($map: v.$font-sizes, $key: p-sm);
}

.header_title {
  font-size: map-get($map: v.$font-sizes, $key: h1-sm);
  text-align: center;

  span {
    color: v.$primary-color;
  }

  @include breakpoint(md) {
    font-size: map-get($map: v.$font-sizes, $key: h1-lg);
    text-align: left;
  }
}

.secion_title {
  background-color: v.$primary-color;
  font-size: map-get($map: v.$font-sizes, $key: p-sm);
  color: white;
  width: fit-content;
  border-radius: 1rem;

  @include breakpoint(md) {
    font-size: map-get($map: v.$font-sizes, $key: h1-sm);
    text-align: left;
  }
}