$primary-color: #008153;
$secondary-color: #fff6bd;
$tersary-1-color: #48BF91;
$tersary-2-color: #91d7c3;
$text-color: #4e4e4e;
$shadow-color: rgba(0, 0, 0, 0.275);

$font-sizes: (
    p-sm: .825rem,
    p-lg: 1rem,
    h1-sm: 1.15rem
)