@use "../../app/variables.scss" as v;
@use "../../app/breakpoints.scss" as *;

.container {
  background-color: v.$secondary-color;
}

.nav_body {
  color: v.$primary-color;
}

.nav_link {
  font-weight: 500;
  color: v.$primary-color;
  text-decoration: none;
  width: 7.5rem;
  padding: 0.5rem 0rem;
  border-radius: 1rem;
  transition: all 0.25s ease;
}

.nav_link:hover {
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: v.$primary-color;
  border-radius: 1rem;
  transition: all 0.25s ease;
}

.nav_brand {
  .nav_img_container {
    width: 3rem;
    height: 3rem;

    @include breakpoint(md) {
      width: 3.25rem;
      height: 3.25rem;
    }
  }

  p {
    font-weight: bold;
    color: v.$tersary-1-color;
    font-size: map-get($map: v.$font-sizes, $key: h1-sm);
  }
}

.nav_link_close {
  transform: translateY(-100%);
  transition: all 0.25s ease-in-out;
}

.nav_link_open {
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
}

.nav_link_container {
  background-color: v.$secondary-color;
  width: 100%;
  left: 0;
  top: 5rem;
  z-index: -1;
  position: absolute;

  @include breakpoint(md) {
    width: fit-content;
    background-color: transparent;
    top: 0;
    z-index: 0;
    position: relative;
  }
}
