@use "../../app/breakpoints.scss" as *;
@use "../../app/variables.scss" as v;

.container {
  background-color: v.$secondary-color;
}

.footer_img_container {
  width: 2rem;
  height: 2rem;
}

.footer_text_title {
  text-align: right;
  margin: 0;
  font-size: map-get($map: v.$font-sizes, $key: h1-sm);
}

.footer_link_text {
  text-decoration: none;
  color: v.$text-color;

  &:hover {
    color: v.$primary-color;

  }
}

.footer_card_container {
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(md) {
    text-align: right;
  }
}
