@use "../../app/variables.scss" as v;
@use "../../app/breakpoints.scss" as *;

.card_container {
  width: 20rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 8px 8px rgba(78, 78, 78, 0.05);
  margin-right: 1.15rem;

  @include breakpoint(md) {
    margin-right: 1rem;
  }
}

.card_img_container {
  width: 20rem;
  height: 15rem;

  img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }
}

.card_desc {
  font-size: map-get($map: v.$font-sizes, $key: p-sm);
  height: 3.85rem;
  overflow: hidden;
}

.card_title {
  font-size: map-get($map: v.$font-sizes, $key: h1-sm);
}

.card_before_price {
  margin: 0;
  font-size: map-get($map: v.$font-sizes, $key: p-sm);
  color: v.$shadow-1-color;
}

.card_after_price {
  margin: 0;
  font-size: map-get($map: v.$font-sizes, $key: h1-sm);
  color: v.$primary-color;

  span {
    font-size: map-get($map: v.$font-sizes, $key: p-sm);
    color: v.$primary-color;
  }
}
